<!DOCTYPE html>
<html>
<head>
<title>Music Club A Music Category Flat Bootstarp Resposive Website Template | Mail :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />  
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Music Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--flexslider-->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<!--//flexslider-->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
       </style>
<script src="js/modernizr.custom.97074.js"></script>
<!--script-->
<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery a').Chocolat();
		});
		</script>
  <body>
    <% include header2.ejs%>
    
    	<!--gallery-->
	<div class="gallery">
		<div class="container">
			<h3>My Albums</h3>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image1%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name1 %></h5>
								<span>Artist Name:<%= al_ar_name1 %></span>
								<span>Description:<%= al_label1 %></span>
								
							</div>
						</a>
					</li>
						<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image2%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name2 %></h5>
								<span>Artist Name:<%= al_ar_name2 %></span>
								<span>Description:<%= al_label2 %></span>
								
							</div>
						</a>
					</li>
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image3%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name3 %></h5>
								<span>Artist Name:<%= al_ar_name3 %></span>
								<span>Description:<%= al_label3 %></span>
								
							</div>
						</a>
					</li>
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image4%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name4 %></h5>
								<span>Artist Name:<%= al_ar_name4 %></span>
								<span>Description:<%= al_label4 %></span>
								
							</div>
						</a>
					</li>
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image5%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name3 %></h5>
								<span>Artist Name:<%= al_ar_name3 %></span>
								<span>Description:<%= al_label3 %></span>
								
							</div>
						</a>
					</li>
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image1%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name4 %></h5>
								<span>Artist Name:<%= al_ar_name4 %></span>
								<span>Description:<%= al_label4 %></span>
								
							</div>
						</a>
					</li>
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image7%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name2 %></h5>
								<span>Artist Name:<%= al_ar_name2 %></span>
								<span>Description:<%= al_label2 %></span>
								
							</div>
						</a>
					</li>
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image8%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name1 %></h5>
								<span>Artist Name:<%= al_ar_name1 %></span>
								<span>Description:<%= al_label1 %></span>
								
							</div>
						</a>
					</li>
					<li>
						<a href="images/a1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="<%= image9%>" alt="" height="250px"  width="100px"/>
							<div>
								<h5><%= al_name2 %></h5>
								<span>Artist Name:<%= al_ar_name2 %></span>
								<span>Description:<%= al_label2 %></span>
								
							</div>
						</a>
					</li>
				
					<div class="clearfix"> </div>
				</ul>
			</section>
			<script type="text/javascript" src="js/jquery.hoverdir.js"></script>	
		<script type="text/javascript">
			$(function() {
			
				$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

			});
		</script>
        </div>
		
	</div>
<!--//gallery-->


    
        <% include footer2.ejs%>
  </body>
</html>

